body {background-color: linen; font-family: Verdana, Geneva, Tahoma, sans-serif;}

/*the first heading on the webpage */
h1 {color: #a200ff91; text-align:center; font-family: 'Brush Script MT', serif;}